*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
  /* @import url('https://fonts.googleapis.com/css2?family=Your+Chosen+Font&display=swap'); 
:root{
--font-base:sans-serif;
--font-second-base:'INTER',sans-serif;
--bg-color:#111;
--primary-color:#fff;
--secondary-color:#e50314;





} */




    body {
      font-family: 'Your Chosen Font', sans-serif;
    }
 body{
  background-color: #111;
 }